{%extends "layout.html"%}

{%block title%}
My twitter
{%endblock%}

{%block content%}
<h1 class="text-center mt-3">You can make a tweet here</h1>
<h2>
    {% if form.instance.pk %}
    Edit Tweet
    {% else %}
    Create Tweet
    {% endif%}
</h2>
<div>
    <form method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning mb-3" type="submit">Submit</button>
    </form>
    <a class="btn btn-primary "href="{%url 'tweet_list'%}">Back to tweet-list</a>
</div>
{%endblock%}